html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}


body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: fantasy;
}

canvas[resize] {
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.game-container {
  width: 100%;
  height: 100%;
}

.score {
  color: #7d7d7d;

  position: absolute;
  top: 1em;
  left: 1em;
}

#game-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

#game-msg.hidden {
  display: none;
}
